<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <meta charset="utf-8">
    <title>Sheng Mtaa</title>
    <link rel="shortcut icon" href="https://www.letsdeel.com/hubfs/deel/Brand/deel_favicon.png">
    <meta name="description" content="Hire employees in another country in minutes without the cost, time, and extra admin. Deel handles the entire employment process so you can focus on building your best business.">
    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    

</body>
</html>